
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url(https://img.freepik.com/free-photo/abstract-smooth-empty-grey-studio-well-use-as-background-business-report-digital-website-template-backdrop_1258-55967.jpg);
}
header {
    background-color: #ffffff;
    color: #4f4d4d;
    padding: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    margin: 0;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
article {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

main img{
    width: 100%;
    height: 200px;
}

footer {
    background-color: #ffffff;
    color: #4f4d4d;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body.dark-theme {
    background-color: black;
    color: white;
}

header.dark-theme {
    background-color: #333;
}

article.dark-theme {
    background-color: #444;
    border-color: #333;
    color: white;
}

footer.dark-theme {
    background-color: #333;
}


button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    border-color: #444;
}


